 <!DOCTYPE html>
    <html>
        <head>
      	  <style>
      	  	 .city
      	  	    {
      	  	    	background-color: gray;
      	  	    	color: black;
      	  	    	
      	  	    }
      	  	   table , th , td
      	  	   {
      	  	   	  border: 1px solid black;
      	  	   }
      	  </style>
        </head>
        <body style="background-color:powderblue;">
           <center><h1 style="background-color:DodgerBlue;">Library Management System</h1></center>
                     <%= image_tag "bs.png", :size => "100x100" %>          
           <center>
           <a href="https://www.google.co.in/" target="_blank"><q>Visit Google Search</q></a>
           </center>

           <div  style="background-color:pink;">

           <div style="display: inline-block;">
           	 
       `
           <div style="display: inline-block; vertical-align:top;padding-top: 20px;padding-left: 100px;">
           <center><h1><u>Detail About People.</u></h1></center>
           <h2>
           	<table class ="table">
           	  <tr>
           	    <td>Person Name</td>
           	    <td>Gender</td>
                <td>Contact</td>
           	    <td>address</td>
           	    <td>Person type</td>
                 <td>Person department</td>
                <td>Person book</td>

           	  </tr>

               <br>
              <% @billings.each do |billing| %>
              <tr>
                <td><%= link_to billing.person.name,person_detail_path(id: billing.person.id) %> </td>
                  <td><%= billing.person.gender %></td>
                  <td><%= billing.person.mob %></td>
                  <td><%= billing.person.address %></td>
                  <td><%= billing.person.person_type %></td>
                  <td><%= billing.person.department.name %></td>

                <td><%= link_to billing.book.book_title,book_detail_path(id: billing.book.id) %> </td>


              </tr>
              <% end %>
           	 
          </table></h2>

           </div>
           </div>
          <center><h1><mark><%= link_to "Create New Person",create_person_path %></mark></h1></center>
          <center><h1><mark><%= link_to "Create New Book",create_book_path %> </mark></h1></center>


        </body>
    </html>