hello nirmal
<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
<table>
	<tr>
		
	
		Name: <%= @people.name %><br>

            <% @people.each do |person| %>
            <%= person.name %>
             <%= person.mob %><br />
             <%= person.address %><br />
            <% end %>

<%= link_to "Back", root_path %>
	


</table>

</body>
</html> 


















